<!DOCTYPE html>
<html>
    <head>
        <title>
            404 Error
        </title>
        <style>
                body{background: #003300; font-family: ubuntu; color: #ffffff; padding: 30px;}
                h1{font-size: 48px; text-transform: uppercase; letter-spacing: 2px; text-align: center;}
                p{font-size: 25px; text-align: center;}
        </style>
    </head>

    <body>
        <h1>404, Oops!</h1>
        <p>Page not found</p>
    </body>
</html>