.white-box { width: 70%; height: 82%; margin-top: 50px; margin-left: auto; margin-right: auto;
background: rgba(255,255,255,0.9);
padding: 20px;
-webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.15);
-moz-box-shadow: 0 1px 2px rgba(0,0,0,0.15);
box-shadow: 0 1px 2px rgba(0,0,0,0.15);
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
-ms-border-radius: 5px;
-o-border-radius: 5px;
border-radius: 5px;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  background-color:#1F2739;
}

.container {
    margin-top:5%;
    margin-left:10%;
}

.watchlist {
    background-color: #FF8C00;
    margin-left:2%;
    cursor: pointer;
    border-radius: 10%;
    font-size: 20px;

}

input[type=submit] {
    border-radius: 10%;
    font-size: 16px;
}
